import { {{capitalize componentName}}Props } from './interfaces' 

export const {{capitalize componentName}} = ({ testId = '{{kebabCase componentName}}-id', ...props } : {{capitalize componentName}}Props) => { return (
  <div data-testid='{testId}' className="{{capitalize componentName}}" {...props}>
    Hello {{capitalize componentName}}!
  </div>
) }